.footer {
    background-color: var(--secondary-background-color);
    padding: 60px 0;

    &__logo {
        display: block;
        margin-bottom: 28px;
    }


    &__thumb {

        @media screen and (min-width: 1200px) {
            display: flex;
            // justify-content: space-between;
            gap: 93px;
            align-items: baseline;
        }
  

    }

    &__container {

        @media screen and (min-width: 768px) {
            justify-content: center;
            display: flex;
            gap: 165px;
            align-items: baseline;
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 93px;
            align-items: baseline;
            margin-bottom: 0;
        }

    }

    &__social{
        margin-bottom: 60px;
        @media  screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
}


