.logo {
    color: var(--accent-color);
    text-decoration: none;

    font-family: var(--font-logo), var(--font-family);

    font-weight: 700;
    font-size: 24px;
    line-height: 1.1667;
    letter-spacing: 0.03em;

    @media screen and (max-width: 767px){
        text-align: center;
    }


    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;

    }

    &__span {
       color: var(--logo-header-color);
    
    }

    &__span--footer {
        color: var(--secondary-color);

    }

}

