.modal {
    @include position($top: 50%, $left: 50%);
    // position: absolute;
    // top: 50%;
    // left: 50%;

    width: 450px;
    height: 609px;

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }



    @include bordered(4px, var(--secondary-color));
    // border-radius: 4px;
    // background-color: var(--secondary-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__container {
        position: relative;
        padding: 40px;

    }


    /* Position of button "close" on modal window*/
    &__btn-close {
        position: absolute;
        top: 8px;
        right: 8px;


    }

    &__form-title {
        display: block;
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0.03em;

        text-align: center;

        color: var(--secondary-text-color);

        @media screen and (min-width: 1200px) {
            line-height: 1.15;
        }
    }

    &__checkbox {
        margin-bottom: 30px;


    }

    &__btn-form {
        display: flex;

        width: 200px;

        margin: 0 auto;
        padding: 10px 52px;

    }
}

