.team {
    background-color: var(--secondary-button-color);

    &__header {
        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 28px;
        line-height: 1.1786;
        letter-spacing: 0.03em;

        text-align: center;
        margin-bottom: 30px;   
        
        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.1667;
            margin-bottom: 50px;
        }

    }

    &__list {
        @media screen  and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            
        }
       
    }

    &__description {
        padding-top: 30px;
        padding-bottom: 24px;
        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
        }
    }

    &__item {
        background-color: var(--secondary-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        max-width: 450px;
        width: 100%;
       
        @media screen and (min-width: 768px) {
            max-width: 354px;
            flex-basis: calc((100% - 30px) / 2);
        }

        @media screen and (min-width: 1200px) {
          
            max-width: 270px;
            flex-basis: calc((100% - 3*30px) / 4);
        }
    }

    &__item:not(:last-child){
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    // &__item.img{
    //     width: 450px;
    //     @media screen and (min-width: 768px) {
    //         width: 354px;
    //     }
    
    //     @media screen and (min-width: 1200px) {
    //         width: 270px;
    //     }
    // }

    &__name {
        color: var(--secondary-text-color);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        text-align: center;

        margin-bottom: 10px;
    }

    &__position {

        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        text-align: center;

        margin-bottom: 16px;
    }

    &__social {
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}

