.advantages{
    &__list {

        @media screen and (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    &__item {
        @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px) / 2);
        }

        @media screen and (min-width: 1200px){
            flex-basis: calc((100% - 90px) / 4);
        }
    }

    &__item:not(:last-child){
        margin-bottom: 30px;
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}
