.subscribe{
    &__label {
  
        line-height: 1.14;
        font-weight: 700;
        text-align: center;

        text-transform: uppercase;
        color: var(--secondary-color);

        margin-bottom: 20px;
        @media screen and (min-width: 1200px) {
            text-align: left;
            
        }

    }


    &__field {
        @media screen and (min-width: 1200px){
            display: flex;
            gap: 12px;
            align-items: center;
            justify-content: flex-end;
        }
    }

    &__input-thumb{
        display: flex;
        justify-content: center;
    }

    &__input {
        width: 100%;
        max-width: 450px;
        height: 50px;
        padding: 15px 0 15px 16px;

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

        @include bordered(4px, var(--secondary-background-color));
        // border-radius: 4px;
        // background-color: var(--secondary-background-color);

        color: var(--contacts-footer-color);

        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;

        margin-bottom: 20px;
        
        @media screen and (min-width: 1200px) {
            width: 358px;
            max-width: 358px;
            margin-bottom: 0;
        }


    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 200px;
        padding: 10px 28px;

        text-align: left;
    }

    &__btn-icon {
        fill: var(--secondary-color);
        margin-left: 10px;

    }

    &__thumb{
        display: flex;
        justify-content: center;
    }
}

